[Unit]
Description=Shapeshifter battlesnake

[Service]
User=root
Restart=always
ExecStart=/root/rustputin/target/release/rustputin

[Install]
WantedBy=multi-user.target
