[Unit]
Description=Shapeshifter battlesnake

[Service]
User=root
Restart=always
ExecStart=/root/shapeshifter/target/release/shapeshifter

[Install]
WantedBy=multi-user.target
